div{
    width: 600px;
    height: 200px;
    text-align: center;
    border: 2px solid;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
    margin: auto;
}
h3{
    font-size: 30px;
}
h1{
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    color: rgb(0, 199, 0);
}
button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
}
input{
    height: 20px;
    width: 150px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
button:hover{
    background-color: rgb(216, 216, 216);
    cursor: pointer;
}